.HomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
        url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
    box-sizing: border-box;
}

.MainComponent {
    border: 2px solid var(--highlightText);
    border-radius: 14px;
    padding: 1rem;
    margin: 0 auto;
    backdrop-filter: blur(10px);
    background-color: rgba(36, 36, 36, 0.18);
    width: 90vw;
    height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .MainComponent {
        height: 90vh;
        padding: 1rem;
        margin: 0 1rem;
    }

    .logo-avatar {
        top: 1rem;
        right: 1rem;
    }
}
