.hero {
    height: 100%;
    width: auto;
    display: flex;
    gap: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.heroText {
    color: white;
}

.type-text {
    color: var(--highlightText);
    display: inline-block;
}

.name {
    color: var(--highlightText);
}

/* Media Queries */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start; /* Align items to start */
    }
    
    .heroText {
        text-align: center; /* Center text on smaller screens */
    }
}
