.profiles {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.social-links {
    text-decoration: none;
}

.social-icon {
    color: var(--highlightText);
    font-size: 4rem;
}

/* Media Queries */
@media (max-width: 768px) {
    .profiles {
        flex-direction: column; /* Stack profiles on smaller screens */
        gap: 2rem;
    }
}
